<div class="row">
	<div class="col-12">
		<h3 class="text-center" style="margin: 3rem; 0;">INTEGRAÇÃO DE UM FROMEWORK FRONT-END E BACK-END PARA O DESENVOLVIMENTO ÁGIL DE APLICAÇÕES WEB</h3>
		<h5>1 Arquitetura da Ferramenta</h5>

		<p style="text-align: justify;">A ferramenta constitui-se de uma interface web (Ruby on Rails), sendo essa composta por um formulário para receber as informações do projeto que pretendesse criar com auxílio desta. As informações recebidas serão passadas para um arquivo. rb (Ruby), esse por sua vez, repassará as informações do projeto para um arquivo shell script onde será executado os comandos para gerar a aplicação através do prompt de comando do sistema (Linux). Após a criação, será apresentado o link onde estará disponível a aplicação para acesso através de um browser. </p>

		<h5>2 Recurso</h5>

		<p style="text-align: justify;">Através da ferramenta, pretende-se criar aplicações que comtemple a criação de formulários com boa usabilidade, ou seja, uso adequado de botões, ícones e cores provenientes de classes do Bootstrap. As aplicações são geradas na arquitetura Model-View-Controller (MVC), com persistência em banco de dados. </p>

		<h5>3 Validação</h5>

		<p>	Pretende-se realizar uma avaliação de usabilidade da ferramenta, baseada na norma ISO/IEC 9126 (2003) onde estão presentes os princípios de Usabilidade (Inteligibilidade, Apreensibilidade, Operacionalidade e Atratividade). Essa avaliação, será realizada com um grupo de programadores com experiência na área de desenvolvimento web. 
		Por fim, será realizada uma avaliação de Eficiência da aplicação, onde adotar-se-á a ISO/IEC 25000 (2014). Essa avaliação será realizada através de um experimento controlado, onde, haverá um grupo de controle (sem a ferramenta) e um grupo de tratamento (com a ferramenta). O grupo será composto por 5 programadores do curso de Sistemas de Informação da Universidade Federal do Pará (UFPA), dos anos de 2011 a 2015. Os dados coletados dos dois grupos serão analisados e comparados no que diz respeito ao de criação de uma aplicação web simples e recursos fornecidos pela ferramenta proposta.
		</p>
	</div>
</div>
